@import "tailwindcss" source("../popup");

@custom-variant dark (&:where(.dark, .dark *));

@layer base {
  :root {
    /* Surface colors */
    --color-surface-default: #fffdfd;
    --color-surface-muted: #c8c8c8;
    --color-surface-inverse: #484848;

    /* text colors */
    --color-text-default: #383838;
    --color-text-inverse: #f9fafb;
    --color-text-muted: #525252;

    --color-accent: var(--color-text-muted);
    --color-accent-muted: #a0a0a0;
    /* border color */
    --color-border-default: #bfbfbf;
  }

  .dark {
    --color-surface-default: #242424;
    --color-text-default: #ffffff;
    --color-text-inverse: #1f2937;
    --color-border-default: #bfbfbf;
    --color-text-muted: #cac9c9;
    --color-accent: #7f7f7f;
    --color-accent-muted: #fff;
    --color-surface-muted: #181818;
    --color-surface-inverse: var(--color-surface-default);
  }
  main > *:not(hr) {
    display: flex;
    padding: calc(var(--spacing) * 3);
  }

  span {
    color: var(--color-text-muted);
  }
  hr {
    border-color: var(--color-border-default);
    border-top-width: 0.1px;
  }
  body {
    background-color: #bfbfbf;
  }

  /* footer {
    background-color: var(--color-surface-muted);
  } */
}
@theme inline {
  --color-background: var(--color-surface-default);
  --color-foreground: var(--color-text-default);
  --color-inverse: var(--color-text-inverse);
  --color-border: var(--color-border-default);
  --color-muted: var(--color-text-muted);
  --color-surface-muted: var(--color-surface-muted);
  --color-surface-inverse: var(--color-surface-inverse);
  --color-accent: var(--color-accent);
  --color-accent-muted: var(--color-accent-muted);
}

@layer components {
  .switch {
    @apply relative inline-flex items-center cursor-pointer;
  }

  .switch__track {
    @apply w-9 h-5 border-border border-2 rounded-full peer-checked:bg-muted peer-focus:ring-2;
  }

  .switch__thumb {
    @apply absolute top-1/2 left-1 -translate-y-1/2 size-3.5 bg-accent-muted rounded-full transition peer-checked:translate-x-full;
  }
}
